/JavaHomework5/nbproject/private/
/JavaHomework5/build/
/JavaHomework6/nbproject/private/
/PraticeForMCQ/nbproject/private/
/PraticeForMCQ/build/
/Pratice for exam/nbproject/private/
/Pratice for exam/build/
/ExamPratice2/nbproject/private/
/ExamPratice2/build/